/*IS THIS WORKING*/

<link href="https://fonts.googleapis.com/css?family=Playfair+Display|Work+Sans&display=swap" rel="stylesheet">

 #pagetitle {
 	font-size: 40px;
 	font-family: "Work Sans";
 }

 h2 {
 	font-size: 20px;
 	font-family: "Work Sans";
 }

 p {
 	font-size: 12px;
 	font-family: "Playfair Display";
 }
