/*IS THIS WORKING*/
/*WOW THIS IS WORKING!!!!*/

 #pagetitle {
 	font-size: 40px;
 	font-family: 'Work Sans';
 }

 .blogpost {
 	padding: 20px;
 	border: 1px solid #b5b5b5;
 	border-radius: 10px;
 	width: 520px;
 	margin: 20px;

 }

 .blogpost h2 {
 	font-size: 30px;
 	font-family: 'Work Sans';
 	text-align: left;
 	margin: auto;
 }

 .blogpost p {
 	font-size: 16px;
 	font-family: 'Lora';
 	margin-left: auto;
 	margin-right: auto;
 	width: 500px;
 	text-align: left;

 }

 .link {
 	font-size: 20px;
 	font-family:'Work Sans';
 }
