/*IS THIS WORKING*/

<link href="https://fonts.googleapis.com/css?family=Playfair+Display|Work+Sans&display=swap" rel="stylesheet">

 #pagetitle {
 	font-size: 40px;
 	font-family: 'Work Sans';
 }

 .blogpost {
 	position: center;
 	margin-left: 200px;
 	margin-right: 200px;
 }

 h2 {
 	font-size: 20px;
 	font-family: 'Work Sans';
 }

 p {
 	font-size: 16px;
 	font-family: 'Playfair Display';
 }

 .link {
 	font-size: 20px;
 	font-family:'Work Sans';
 }
