/*IS THIS WORKING*/
/*WOW THIS IS WORKING!!!!*/

 #pagetitle {
 	font-size: 40px;
 	font-family: 'Work Sans';
 }

 .pagetitle {
 	display: float;
 	text-decoration: none;
 	color: black;
 	font-weight: 400;
 }

 h1 {
 	margin-top: 50px;
 	margin-bottom: 20px;
 	font-weight: 400;
 }

 #descriptor {
 	margin-left: 50px;
 	margin-top: -40px;
 	margin-right: 1250px;
 	font-family: 'Work Sans';
 	font-size: 30px;
 	font-weight: 300;
 }

 #more-button {
 	font-size: 16px;
 	font-family: 'Work Sans';
 }

 #more-button a:hover {
 	background-color: black;
 }

 .more {
 	font-size: 16px;
 	text-decoration: none;
 	color: white;
 	background-color: #b5b5b5;
 	padding: 0px 6px 2px 6px;
 	border-radius: 50px;
 	transition: 0.5s;
 }

/* my name in color */

/* about me */

#aboutme {
 	margin: 0px 1300px 0px 50px;
 	border: 1px solid #ffffff;
 	border-radius: 10px;
 	width: 550px;
}

#aboutme p {
	font-family: 'Work Sans';
 	font-size: 20px;
 	font-weight: 300;
}

 /* blog posts */

 #blogpost {
 	padding: 20px;
 	border: 1px solid #b5b5b5;
 	border-radius: 10px;
 	width: 520px;
 	margin: 20px;
 }

 #blogpost h2 {
 	font-size: 30px;
 	font-family: 'Work Sans';
 	text-align: left;
 	margin: auto;
 }

 #blogpost p {
 	font-size: 16px;
 	font-family: 'Lora';
 	margin-left: auto;
 	margin-right: auto;
 	width: 500px;
 	text-align: left;
 }

 #blogpost ul {
	font-size: 16px;
 	font-family: 'Lora';
 	margin: auto;
 	text-align: left;
 }

 #blogpost li {
 	margin-bottom: 5px;
 }

 /* nav */

 #nav {
 	font-size: 50px;
 	font-family: 'Work Sans';
 	margin: 200px;
 }

 #nav a:hover {
 	background-color: black;
 }

 .nav {
 	text-decoration: none;
 	color: white;
 	background-color: #b5b5b5;
 	padding: 5px 15px 5px 15px;
 	border-radius: 10px;
 	transition: 0.5s;
 }

 .link {
 	font-size: 20px;
 	font-family:'Work Sans';
 }

 #footer {
 	font-size: 10px;
 	font-family: 'Work Sans';
 }
